<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpieza Total</title>

    <!--CSS Bootstrap-->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--CSS Propio-->
    <link href="{{url_for('static',filename='css/sass.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/layets.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet"></link>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/a741ca24aa.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-wraper">
        <!--- NAVBAR --->
        <div class="header-container fixed-top">
            <header class="header navbar navbar-expand-sm expand-header">
                <div class="header-left d-flex">

                    <div class="logo">
                        Limpieza Total
                    </div>

                    <a href="#" class="sidebarCollapse" id="toggleSidebar" data-placement="bottom">
                        <span class="fas fa-bars"></span>
                    </a>

                </div>

                <ul class="navbar-item flex-row ml-auto">

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static',filename='img/anillo-de-campana.png')}}" alt="" class="icon">
                            <p class="count bg-clc">4</p>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static',filename='img/servidor.png')}}" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">Servidor iniciado &#128513</p>
                                            <p class="note-item">2 min ago</p>
                                        </div>
                                        <p href="#" class="status-link bg-clc3"><span class="fa fa-times"></span></p>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static',filename='img/cupido.png')}}" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">Ten buena jornada</p>
                                            <p class="note-item">22 min ago</p>
                                        </div>
                                        <p href="#" class="status-link bg-clc3"><span class="fa fa-times"></span></p>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static',filename='img/nota.png')}}" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">Mensajes disponibles</p>
                                            <p class="note-item">34 min ago</p>
                                        </div>
                                        <p href="#" class="status-link bg-clc3"><span class="fa fa-times"></span></p>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="{{url_for('static',filename='img/cruzar.png')}}" alt="" class="user-note">
                                    <div class="note-info-desmis">
                                        <div class="user-notify-info">
                                            <p class="note-name">Revisar almacén</p>
                                            <p class="note-item">35 min ago</p>
                                        </div>
                                        <p href="#" class="status-link bg-clc3"><span class="fa fa-times"></span></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static',filename='img/chat-de-burbujas.png')}}" alt="" class="icon">
                            <p class="count bg-clc2">4</p>
                        </a>

                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item message-item">
                                    <img src="https://i.pinimg.com/474x/22/35/00/2235009be651daf00a22ed072cc4ad6f.jpg" alt="" class="sms-user">
                                    <div class="note-message-desmis">
                                        <div class="user-message-info">
                                            <p class="note-name">Michael Bañares</p>
                                            <p class="note-role">Admin</p>
                                        </div>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="https://i.pinimg.com/736x/a8/69/59/a8695953fc08718746c2805c0e6fcf97.jpg" alt="" class="sms-user">
                                    <div class="note-message-desmis">
                                        <div class="user-message-info">
                                            <p class="note-name">Elvis Herrera</p>
                                            <p class="note-role">Conserje</p>
                                        </div>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="https://i.pinimg.com/1200x/f1/a9/31/f1a931bbf69ec09338cdfee2648ba3c9.jpg" alt="" class="sms-user">
                                    <div class="note-message-desmis">
                                        <div class="user-message-info">
                                            <p class="note-name">Jhordy Castro</p>
                                            <p class="note-role">Usuario</p>
                                        </div>
                                    </div>
                                </a>

                                <a href="" class="dropdown-item message-item">
                                    <img src="https://i.pinimg.com/474x/19/a1/03/19a1031a84ed81842bfa4c81da522d60.jpg" alt="" class="sms-user">
                                    <div class="note-message-desmis">
                                        <div class="user-message-info">
                                            <p class="note-name">Betsabé Rojas</p>
                                            <p class="note-role">Usuario</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="https://i.pinimg.com/474x/22/35/00/2235009be651daf00a22ed072cc4ad6f.jpg" alt="" class="icon rounded-circle">
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-profile-section">
                                <div class="media mx-auto">
                                    <img src="https://i.pinimg.com/474x/22/35/00/2235009be651daf00a22ed072cc4ad6f.jpg" alt="" class="img-fluid mr-2">
                                    <div class="media-body">
                                        <h5>Michael Bañares</h5>
                                        <p>Admin</p>
                                    </div>
                                </div>
                            </div>
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fa fa-user"></span>Perfil</a>
                                <a href="" class="dropdown-item"><span class="fa-regular fa-message"></span>Mensajes</a>
                                <a href="" class="dropdown-item"><span class="fa-solid fa-gear"></span>Opciones</a>
                                <a href="./logout" class="dropdown-item"><span class="fa-solid fa-right-from-bracket"></span>Cerrar Sesión</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown user-profile-dropdown">
                        <a href="#" class="nav-link user" id="Notify" data-bs-toggle="dropdown">
                            <img src="{{url_for('static',filename='img/configuraciones.png')}}" alt="" class="icon">
                        </a>

                        <div class="dropdown-menu">
                            <div class="dp-main-menu">
                                <a href="" class="dropdown-item"><span class="fa fa-plug"></span>Permisos</a>
                                <a href="" class="dropdown-item"><span class="fa fa-object-ungroup"></span>Tipo de diseño</a>
                                <a href="" class="dropdown-item"><span class="fa-solid fa-lock"></span>Privacidad</a>
                                <a href="./logout" class="dropdown-item"><span class="fa-solid fa-user"></span>Admin</a>
                            </div>
                        </div>


                    </li>
                </ul>

            </header>
        </div>
        <!--- NAVBAR END --->

        <!--- SIDEBAR START--->

        <div class="left-menu">
            <div class="menubar-content">
                <nav class="animated bounceInDown">
                    <ul class="sidebar">
                        <li class="active">
                            <a href="./"><i class="fa fa-home"></i>Inicio</a>
                        </li>
                        <li>
                            <a href="./dashboard"><i class="fa-solid fa-gauge"></i>Dashboard</a>
                        </li>         
                        <li>
                            <a href="#"><i class="fa fa-box-open"></i>Productos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-boxes"></i>Almacén</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-money-bill"></i>Presupuestos</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-parachute-box"></i>Proveedores</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-cart-shopping"></i>Compras</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shop"></i>Ventas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-wallet"></i>Facturación</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-building"></i>CRM</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-business-time"></i>Administración</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-table"></i>Tablas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-calculator"></i>Contabilidad</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-solid fa-clipboard-list"></i>Nómina</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-regular fa-rectangle-list"></i>Asistencia</a>
                        </li>
                        <li>
                            <a href="./herramientas"><i class="fa-solid fa-toolbox"></i>Herramientas</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--- SIDEBAR END--->
        <div class="content-wraper">
            <section class="dashboard-top-sec">
                <div class="container-fluid">
                    <div class="row">
                        <div class="wre-sec">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="classic-tabs bg-white">
                                        <div class="py-2 ps-2 justify-content-center d-flex align-items-center" style="background-color: var(--main-color);">
                                            <h5 class="text-white">Ventas</h5>
                                        </div>
                                        <!--NAV TABS-->
                                        <div class="tabs-wraper">
                                            <ul class="nav nav-pills mb-3 chart-header-tab" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav active" id="pills-week-tab" data-bs-toggle="pill" data-bs-target="#pills-week" type="button" role="tab" aria-controls="pills-week" aria-selected="true">Semana</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav" id="pills-month-tab" data-bs-toggle="pill" data-bs-target="#pills-month" type="button" role="tab" aria-controls="pills-month" aria-selected="false">Mes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav" id="pills-year-tab" data-bs-toggle="pill" data-bs-target="#pills-year" type="button" role="tab" aria-controls="pills-year" aria-selected="false">Año</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="pills-tabContent">
                                                
                                                <div class="tab-pane fade show active" id="pills-week" role="tabpanel" aria-labelledby="pills-week-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://www.amcharts.com/wp-content/uploads/2013/12/demo_7394_none-7-1024x690.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="pills-month" role="tabpanel" aria-labelledby="pills-month-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://www.amcharts.com/wp-content/uploads/2013/12/demo_7394_none-7-1024x690.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="tab-pane fade" id="pills-year" role="tabpanel" aria-labelledby="pills-year-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://www.amcharts.com/wp-content/uploads/2013/12/demo_7394_none-7-1024x690.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--NAV TABS END-->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="classic-tabs bg-white">
                                        <div class="py-2 ps-2 justify-content-center d-flex align-items-center" style="background-color: var(--main-color);">
                                            <h5 class="text-white">Finanzas</h5>
                                        </div>
                                        <!--NAV TABS-->
                                        <div class="tabs-wraper">
                                            <ul class="nav nav-pills mb-3 chart-header-tab" id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav active" id="pills-saldo-tab" data-bs-toggle="pill" data-bs-target="#pills-saldo" type="button" role="tab" aria-controls="pills-saldo" aria-selected="true">Saldo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav" id="pills-ingresos-tab" data-bs-toggle="pill" data-bs-target="#pills-ingresos" type="button" role="tab" aria-controls="pills-ingresos" aria-selected="false">Ingresos</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link chart-nav" id="pills-gastos-tab" data-bs-toggle="pill" data-bs-target="#pills-gastos" type="button" role="tab" aria-controls="pills-gastos" aria-selected="false">Gastos</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-saldo" role="tabpanel" aria-labelledby="pills-saldo-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://chartio.com/images/tutorials/charts/essential-chart-types/grouped-bar-chart.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-ingresos" role="tabpanel" aria-labelledby="pills-ingresos-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://chartio.com/images/tutorials/charts/essential-chart-types/grouped-bar-chart.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="pills-gastos" role="tabpanel" aria-labelledby="pills-gastos-tab" tabindex="0">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <div>
                                                            <img src="https://chartio.com/images/tutorials/charts/essential-chart-types/grouped-bar-chart.png" class="img-fluid" width="400px">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--NAV TABS END-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="wre-sec">
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="bg-white">
                                        <div class="py-2 ps-2 justify-content-center d-flex align-items-center" style="background-color: var(--main-color);">
                                            <h5 class="text-white">Acceso rápido</h5>
                                        </div>

                                        <div class="row g-2 mt-2">
                                            <div class="col-md-4">
                                                <div class="py-2 ms-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 me-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 ms-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 me-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
    
                                            <div class="col-md-4">
                                                <div class="py-2 ms-2 d-flex justify-content-around align-items-center rounded" style="background-color:#ffc107 ;">
                                                    <div>
                                                        <h3 class="fs-2" style = "color: rgb(0, 0, 0) ;">4</h3>
                                                        <p class="fs-5" style = "color: rgb(0, 0, 0);">Online users</p>
                                                    </div>
                                                    <i class="fa-solid fa-users-gear primary-text border secondary-bg fs-1 rounded-full p-3"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="bg-white">
                                        <p>Contactos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
<!--JS Bootstrap-->
<script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
<!--JS Query-->
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<!--JS Mio uwu-->
<script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>