<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpieza Total - Loggin</title>

    <!--CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!--CSS Propio-->
    <link href="{{url_for('static',filename='css/login.css')}}" rel="stylesheet"></link>
</head>
<body>
    <section>
        <div class="container-fluid">
            <div class="row">
            <!--Login-->
                <div class="col-md-3">
                    <div class="d-flex align-items-center justify-content-center vh-100">
                        <div class="p-3">
                            <div class="d-flex justify-content-center pb-5">
                                <img src="{{url_for('static',filename='img/logo.PNG')}}" alt="" width="350">
                            </div>
                            <div class="pb-2">
                                <div class="fs-4 pb-1 text-secondary">INICIAR SESIÓN</div>
                                <p class="text-body-secondary">Ingresa tu nombre de usuario y contraseña para ingresar al sistema</p>
                            </div>
                            <form action="">
                                <div class="form-group pb-3">
                                    <input type="text" class="form-control" placeholder="Nombre de Usuario">
                                </div>
                                <div class="form-group pb-3">
                                    <input type="password" class="form-control" placeholder="Contraseña">
                                </div>
                                <div class="form-group d-grid gap-2">
                                    <button type="submit" class="btn btn-success">ACCEDER</button>
                                </div>
                            </form>
                            <p class="text-center pt-4">
                                <a href="">¿Recuperar contraseña?</a>
                            </p>
                        </div>
                    </div>
                </div>
            <!--Imagen-->
                <div class="col-md-9 img-banner">
                </div>
            </div>
        </div>
    </section>
</body>
</html>